body{
    padding: 0;
    margin: 0;
    
}
.head-bar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:  solid black 0.5px;
}
.reg-head{
    display: flex;
    gap: 40px;
    
}
.sec-head{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    border-top: 0.5px solid black;
    border-right: 0;
    border-left: 0;
    border-bottom: 0.5px solid black;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
ul li ul.dropdown li{
    display: flex;
}
ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    width: 30vh;
    background: #E5E4E0;
}
ul li ul li a{
    font-size: 10px;
    transition: 0.5s;
}
ul li ul li a:hover{
    transform: translateX(10px);
}
nav{
    display: flex;
    justify-content: center;
    background-color: #FDFFFF;
}
.logo{
    height: 12vh;
    width: 25vh;
    background-image: url(IMG_2383.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lgn-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lgn-card{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 60vh;
    background-color: #E5E4E0;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}
input{
    width: 50vh;
    height: 4vh;
    padding: 10px;
}
.check{
    display: flex;
    justify-content: space-between;
}
.login{
    width: 120px;
    height: 7vh;
    background-color: #222052;
    color: #E5E4E0;
    transition: ease-in-out;
}
.login:hover{
    transform: scale(1.01) ;
}