body{
    padding: 0;
    margin: 0;
    
}
.head-bar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:  solid black 0.5px;
}
.reg-head{
    display: flex;
    gap: 40px;
    
}
.sec-head{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    border-top: 0.5px solid black;
    border-right: 0;
    border-left: 0;
    border-bottom: 0.5px solid black;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
ul li ul.dropdown li{
    display: flex;
}
ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
    width: 30vh;
    background: #E5E4E0;
}
ul li ul li a{
    font-size: 10px;
    transition: 0.5s;
}
ul li ul li a:hover{
    transform: translateX(10px);
}
nav{
    display: flex;
    justify-content: center;
    background-color: #FDFFFF;
}
.logo{
    height: 12vh;
    width: 25vh;
    background-image: url(IMG_2383.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top-con{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con{
    width: 35vh;
    height: 60vh;
}
.img-con13{
    width: 35vh;
    height: 50vh;
    justify-content: start;
    align-items: center;
    display: flex;
    background-image: url('/static/owanbe/WhatsApp\ Image\ 2024-10-22\ at\ 07.56.42_487c6572.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-con13:hover{
    transform: scale(1.01);
}
.img-con14{
    width: 35vh;
    height: 50vh;
    justify-content: start;
    align-items: center;
    display: flex;
    background-image: url('/static/owanbe/WhatsApp\ Image\ 2024-10-22\ at\ 07.59.48_7ff59584.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-con14:hover{
    background-image: url('/static/Image\ 2024-10-22\ at\ 07.59.49_f80cee31.jpg');
    transform: scale(1.01);
}
.img-con15{
    width: 35vh;
    height: 50vh;
    justify-content: start;
    align-items: center;
    display: flex;
    background-image: url('/static/Image\ 2024-10-22\ at\ 08.04.40_b762b63a.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-con15:hover{
    transform: scale(1.01);
}
.img-con16{
    width: 35vh;
    height: 50vh;
    justify-content: start;
    align-items: center;
    display: flex;
    background-image: url('/static/owanbe/WhatsApp\ Image\ 2024-10-22\ at\ 08.06.05_5423817d.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-con16:hover{
   transform: scale(1.01);
}
.house-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.con-menu{
    width: 4vh;
    height: 15vh;
    background-color: #E5E4E0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.flex-con1{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    width: 100%;
    height: 40vh;
    background-color: black;
}
.next{
    display: flex;
    justify-content: left;
    align-content: center;
    width: 75%;
}
.big-next{
    width: 120px;
    height: 35px;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.one{
    width: 50px;
    height: 35px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.middle{
    height: 35px;
    border: solid black 0.1px;
    
}
.two{
    height: 35px;
    width: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}
a{
    text-decoration: none;
}