<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='owanbe.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>OWANBE</title>
</head>
<body>
    
    <a href="/owanbe"></a>
    <header>
        <div class="head-bar">
            <div style="display: flex; gap: 10px;">
                <h3 style="font-size: 10px;">DELIVERY TERMS</h3>
                <h3 style="font-size: 10px;">SHIPPING AND RETURNS</h3>
            </div>
            <div class="reg-head">
                <h3 style="font-size: 10px;">MY ACCOUNT</h3>
                <div style="display: flex; align-items: center;gap: 2px;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <h3 style="font-size: 10px;">Register or Sign in</h3>
                </div>
                <div style="display: flex; align-items: center; gap: 2px;" >
                    <i class="fa-solid fa-heart"></i>
                    <h3 style="font-size: 10px;">Wishlist</h3>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; gap: 2px;">
                    <i class="fa-solid fa-square-check"></i>
                    <h3 style="font-size: 10px;">Check out</h3>
                </div>
            </div>
        </div>
        <div class="sec-head">
            <div class="logo"></div>
            <div style="display: flex; align-items: center; gap: 5px;"> 
                <i class="fa-solid fa-headset"></i>
                <h3>Call us</h3>
            </div>
            <input type="search" name="search" id="search" placeholder="search">
            <div style="display: flex; align-items: center; gap: 5px;">
                <h3>NGN</h3>
                <i class="fa-solid fa-naira-sign"></i>
            </div>
            <div>
                <i class="fa-solid fa-cart-shopping" ></i>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li>
                    <a href="#">CATEGORIES</a>
                    <ul class="dropdown">
                    <li><a href="#">SHOP ALL</a></li>
                    <li><a href="coperateoutfit.html">CORPORATE WEAR</a></li>
                    <li><a href="asoebi.html">ASOEBI OUTFIT</a></li>
                    <li><a href="owanbe.html">OWANBE</a></li>
                    <li><a href="children.html">CHILDREN OUTFIT</a></li>
                    <li><a href="top.html">TOP AND BUTTOMS</a></li>
                    <li><a href="bridal.html">BRIDAL OUTFIT</a></li>
                    </ul>
                </li>
                <li><a href="clearance.html">CLEARANCE SALE</a></li>
                <li><a href="contact.html">CONTACT US</a></li>
            </ul>
        </ul>
        </nav>
    
    </header>
    <section class="top-con">
        <h1 style="margin-left: 50px;">OWANBE</h1>
        <div>
            <h2 style="font-size: 10px;">Showing 1 - 12 of 16 results)</h2>
        </div>
        <div>
            <select name="" id="">
                <option value="buy product">Sort by latest</option>
                <option value="buy product">Sort by popularity</option>
                <option value="buy product">Sort by average rating</option>
                <option value="buy product">Sort by price: low to High</option>
                <option value="buy product">Sort by price: High to Low</option>
            </select>
            
        </div>
    </section>
    <section class="house-con">
        <section class="flex-con1">
        <div class="con">
            <div class="img-con1">
                <div class="con-menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping" ></i>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="img-con2">
                <div class="con-menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping" ></i>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="img-con3">
                <div class="con-menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping" ></i>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="img-con4">
                <div class="con-menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-cart-shopping" ></i>
                </div>
            </div>
        </div>
        
        </section>
        <section class="flex-con2">
            <div class="con">
                <div class="img-con5">
                    <div class="con-menu">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-cart-shopping" ></i>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="img-con6">
                    <div class="con-menu">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-cart-shopping" ></i>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="img-con7">
                    <div class="con-menu">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-cart-shopping" ></i>
                    </div>
                </div>
            </div>
            <div class="con">
                <div class="img-con8">
                    <div class="con-menu">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-cart-shopping" ></i>
                    </div>
                </div>
            </div>
            
            </section>
            <section class="flex-con3">
                <div class="con">
                    <div class="img-con9">
                        <div class="con-menu">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping" ></i>
                        </div>
                    </div>
                </div>
                <div class="con">
                    <div class="img-con10">
                        <div class="con-menu">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping" ></i>
                        </div>
                    </div>
                </div>
                <div class="con">
                    <div class="img-con11">
                        <div class="con-menu">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping" ></i>
                        </div>
                    </div>
                </div>
                <div class="con">
                    <div class="img-con12">
                        <div class="con-menu">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-heart"></i>
                            <i class="fa-solid fa-cart-shopping" ></i>
                        </div>
                    </div>
                </div>
                
                </section>
                <section class="next">
                    <div class="big-next">
                        <div class="one">
                            <h3>1</h3>
                        </div>
                        <div class="middle"></div>
                        <a href="owanbe2.html"><div class="two">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div></a>
                    </div>
                </section>
    </section>
    <footer></footer>
</body>
</html>